* { margin:0; padding:0; }

.full
{
	height: 100vh;
}

/* Flex Classes */

.flexContainer
{
  display: flex;
}

.flexItem
{
  flex: 1;
}

.column
{
  flex-direction: column;
}

/* Sidebar */

aside
{
  background-color: #ededed;
  font-family: 'Catamaran', sans-serif;
  width: 10%;
  padding: 10px;
  text-align: center;
}

.featuredItem
{
  background-color: #cdcdcd;
  border: none;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 5px;
  padding: 10px 0;
  width: 100%;
}

.featuredItem:hover
{
  background-color: #adadad;
}

/* Content Window */

.arrowContainer
{
  padding: 10px 20px;
}

.mainContainer
{
  width: 95%;
  margin: auto;
}

.mainHeader
{
  padding: 20px;
}

main
{
  width: 90%;
}

#graphContainer
{
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
}

.chartContainer
{
  width: 49%;
  display: inline-block;
  margin-bottom: 12px;
}

.descriptionContainer
{
  padding: 20px;
}

/* Text Hierarchy */

.title
{
  font-family: 'Catamaran', sans-serif;
}

.subtitle
{
  font-family: 'Montserrat', sans-serif;
}